{
  "singleQuote": true,
  "semi": false,
  "printWidth": 100,
  "overrides": [
    {
      "files": "*.{css,scss}",
      "options": {
        "semi": true,
        "singleQuote": false
      }
    }
  ]
}
