transactions_syncer:
  cron: "0 */3 * * *"
  class: "SyncTransactionsForBanks"
  queue: high
  args:
  description: "Sync Transactions from Plaid"

testing_resque:
  cron: "*/5 * * * *"
  class: "TestJobX"
  queue: test
  args:
  description: "This job queues testing jobs"

calendar_busy_sync:
  cron: "*/10 * * * *"
  class: "SyncCalendarEvents"
  queue: calendar
  args:
  description: "Sync events or busy blocks from connected calendars"

slack_daily_digest:
  cron: "0 7 * * *"
  timezone: "America/Los_Angeles"
  class: "SlackDailyDigest"
  queue: default
  args:
  description: "Post daily digest to Slack"
