QUEUE=* 
RAILS_ENV=development

JARVIS_GMAIL_EMAIL=PUT_SECRET_HERE
JARVIS_GMAIL_PASSWORD=PUT_SECRET_HERE

JARVIS_PLAID_CLIENT_ID=PUT_SECRET_HERE
JARVIS_PLAID_CLIENT_SECRET=PUT_SECRET_HERE
JARVIS_PLAID_ACCESS_TOKENS={"bank_name": "plaid_token"}

SKYLIGHT_AUTHENTICATION=PUT_SECRET_HERE