QUEUE=*
RAILS_ENV=development

JARVIS_GMAIL_EMAIL=PUT_SECRET_HERE
JARVIS_GMAIL_PASSWORD=PUT_SECRET_HERE

JARVIS_PLAID_CLIENT_ID=PUT_SECRET_HERE
JARVIS_PLAID_CLIENT_SECRET=PUT_SECRET_HERE
JARVIS_PLAID_PUBLIC_KEY=PUT_SECRET_HERE

JARVIS_RAILS_PASSWORD=PUT_SECRET_HERE
SLACK_BOT_TOKEN=PUT_SECRET_HERE
SLACK_SIGNING_SECRET=PUT_SECRET_HERE
GEMINI_API_KEY=PUT_SECRET_HERE
GEMINI_EXTRACT_MODEL=gemini-3-flash-preview
GEMINI_INTENT_MODEL=gemini-2.0-flash
GOOGLE_OAUTH_CLIENT_ID=PUT_SECRET_HERE
GOOGLE_AUTH_ALLOWED_EMAILS=asif.h.ahmed@gmail.com,hsayyeda@gmail.com
GOOGLE_OAUTH_CLIENT_SECRET=PUT_SECRET_HERE
FRONTEND_URL=https://finances.sifxtre.me
