server {
        listen 80;
        server_name sifxtre.me;

        access_log /var/log/nginx/access.log;
        error_log /var/log/nginx/error.log;

        location /api {
                rewrite ^/api/?(.*) /$1 break;
                proxy_pass http://api:3000;
        }

}